<meta charset="utf-8" />

<title>{% if page.title %}{{page.title}} &#8211; {% endif %}{{site.title}}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>

<script src="/assets/js/youtubeembed.js"></script>
<script src="/assets/js/teamspeakviewer.js"></script>
<script src="/assets/js/googleanalytics.js"></script>

<link href="/favicon.ico" type="image/x-icon" rel="icon">

<link href="/assets/css/main.css" type="text/css" rel="stylesheet">

