---
---
@import "fonts";

$background: url('/assets/images/backgrounds/denim.jpg');
$primaryColor: rgb(234, 15, 15);
$fancyFont: Coalition;

header {
  width: 100%;
  margin: 0px auto;
  vertical-align: middle;
  text-align: center;
  font-family: $fancyFont;
  font-size: 60px;
  color: $primaryColor;
  position: center;
}

body {
  font: 14px/1.4 verdana, sans-serif;
  background-image: $background;
}

section {
  width: 55%;
  margin: 0px auto;
  box-shadow: 0px 0px 0px black;
  -webkit-box-shadow: 0px 0px 10px white;
  vertical-align:middle;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  overflow: auto;
  text-align: center;
}

nav, nav table, nav a {
  width: 100%;
  height: 40px;
  border: 0;
  overflow: hidden;
  text-align: center;
  text-shadow: 0px 0px 15px #EEEEEE;
  text-decoration: none;
  color: $primaryColor;
  font-family: $fancyFont;
  font-size: 24px;
}

a:link, a:visited {
  text-decoration: none;
  color: $primaryColor;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: $fancyFont, sans-serif;
  text-shadow: 1px 1px 2px #333;
  color: $primaryColor;
}