---
layout: page
permalink: /apply/
---

h1 Requirements
p
    | At least 900 wn8
    br
    | Stronghold tanks for tiers 6/8
    br
    | Active player
    br
    | Must be willing to use Teamspeak3
    br
p
    | If you meet the above requirements, send a message to
    a(href="http://worldoftanks.com/community/accounts/1002578621-Drepic26/")  Drepic26 
    | either in-game or on the
    a(href="http://forum.worldoftanks.com/index.php?/user/drepic26-1002578621/")  Forums.
    br
    | Alternatively, Drop by our #[a(href="/teamspeak/") Teamspeak].
