---
layout: page
permalink: /teamspeak/tags/
---

P(style="text-align: left")
    | {% for tag in site.data.tags %}
    img(src="/assets/images/tags/{{tag.icon}}.png")
    b {{tag.name}}
    | : {{tag.toget}}
    br
    | {% endfor %}
