---
layout: page
permalink: /teamspeak/
---

p
    | Don't Be shy! Stop by our teamspeak!

p
    a(href="ts3server://frontrunnersunited.com:9987") Click here to join!

p
    | We also have a number of tags which exist for fun, or accomplishments. Click
    a(href="tags/")  here
    |  to check them out.

P
    div(id="ts3viewer_1057231" style="width: 350px; align: center; margin: 0 auto")


