---
layout: page
permalink: /teamspeak/
---

p 
    | Don't Be shy! Stop by our teamspeak!

a(href="ts3server://frontrunnersunited.com:9987") Click here to join!

P
    div(id="ts3viewer_1057231" style="width: 350px; align: center; margin: 0 auto")
